[submodule "model"]
	path = model
	url = https://github.com/ares-hq/model
[submodule "db"]
	path = db
	url = https://github.com/ares-hq/db
[submodule "bot"]
	path = bot
	url = https://github.com/ares-hq/bot
[submodule "site"]
	path = site
	url = https://github.com/ares-hq/site
[submodule "app"]
	path = app
	url = https://github.com/ares-hq/app
